* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  outline: none;
}

body {
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
}

.remote {
  position: absolute;
  top: 120px;
  left: 85px;
}

.btn {
  width: 55px;
  height: 35px;
  border-radius: 6px;
  cursor: pointer;
}

.btn.by-genre {
  position: absolute;
  top: 290px;
  left: 125px;
}

.btn.by-genre:hover {
  background-color: red;
}

.btn.by-genre:focus {
  background-color: red;
}

.btn.by-actor {
  position: absolute;
  top: 365px;
  left: 125px;
}

.btn.by-actor:hover {
  background-color: red;
}

.btn.by-actor:focus {
  background-color: red;
}

.btn.by-director {
  position: absolute;
  top: 439px;
  left: 125px;
}

.btn.by-director:hover {
  background-color: red;
}

.btn.by-director:focus {
  background-color: red;
}

.btn.surprise-me {
  position: absolute;
  top: 518px;
  left: 125px;
}

.btn.surprise-me:hover {
  background-color: red;
}

.btn.surprise-me:focus {
  background-color: red;
}

.form-by-genre {
  position: absolute;
  display: none;
  top: 580px;
  left: 125px;
}

select {
  width: 250px;
}

select::-webkit-scrollbar {
  display: none;
}

option {
  font-size: 2rem;
}

input {
  position: absolute;
  display: none;
  padding-left: 5px;
  font-size: 1.5rem;
  top: 600px;
  left: 125px;
  width: 250px;
  height: 50px;
  border-radius: 8px;
}

.btn-find-movie {
  position: absolute;
  top: 828px;
  left: 140px;
  width: 218px;
  height: 80px;
  border-radius: 16px;
  background-color: red;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.btn-find-movie:hover {
  background-color: rgb(245, 96, 96);
}

.result-box {
  position: absolute;
  top: 350px;
  left: 840px;
  display: flex;
  height: 405px;
  width: 585px;
  border-radius: 10px;
  background-color: purple;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-content: center;
  height: 50px;
  background-color: purple;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75vw;
}
